<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appkotlinnav">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconodelaapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconodelaapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppKotlinNav">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppKotlinNav.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Dbase.MainActivityDataBases"
            android:theme="@style/Theme.AppKotlinNav.NoActionBar" />
        <activity
            android:name=".ui.Dbase.ShowData"
            android:theme="@style/Theme.AppKotlinNav.NoActionBar" />
        <activity
            android:name=".ui.Dbase.UpdateDbase"
            android:theme="@style/Theme.AppKotlinNav.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>